In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
from pathlib import Path
import os.path


import seaborn as sns
from scipy import stats


# Data visualization
import matplotlib as mpl
import matplotlib.pyplot as plt

from matplotlib.pyplot import *
import imageio
from skimage.io import imread

from tqdm import tqdm

import itertools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.ticker import NullFormatter
import time
import re
import requests
import pickle
import seaborn as sns
import os
import glob
import sys
#from natsort import natsorted
sns.set()

import plotly.graph_objects as go
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

# Sklearn Liraries
import sklearn
from sklearn import preprocessing

import datetime
from datetime import timedelta, date 
start = time.time()
%matplotlib inline


import sklearn
from sklearn.preprocessing import LabelEncoder    #For encoding categorical variables
from sklearn.model_selection import train_test_split #For splitting of data
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [2]:
print(sklearn.__version__)

1.2.1

In [3]:
#!conda install -c conda-forge scikit-learn=0.23.2
#!pip install --pre pycaret

In [4]:
#set directory for csv files
dir_name = r'C:\Users\vasan\OneDrive\EmissionsDatathon\Zeroing Methane Emissions - Dataset'
filename_suffix = 'xls'

In [5]:
skiprows = 0
#Means read in the ',' as thousand seperator. Also drops all columns which are unnamed.
df = pd.read_excel("dfeat3all.xlsx", thousands=',', skiprows = skiprows)
dfeat3all = df.loc[:, ~df.columns.str.contains('^Unnamed')] 
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'dfeat3all.xlsx'

In [9]:
df.shape

(6060, 3)

In [10]:
df = df.drop('Unnamed: 0', axis=1)

In [12]:
df.head()

   log_qplume  log_pic_val
0    7.855362     2.956416
1    6.839937     2.231019
2    6.093792     1.039925
3    6.939637     2.690881
4    6.717591     1.972684

In [13]:
df = df.astype(float)

In [14]:
np.isnan(df).any()

log_qplume     False
log_pic_val    False
dtype: bool

In [15]:
df.isna().sum()

log_qplume     0
log_pic_val    0
dtype: int64

In [16]:
df = df.dropna()

In [17]:
df.shape

(6060, 2)

In [19]:
print("Upper limit",df['log_qplume'].mean() + 3*df['log_qplume'].std())
print("Lower limit",df['log_qplume'].mean() - 3*df['log_qplume'].std())

Upper limit 8.786842309472004
Lower limit 2.7965792968341683

In [21]:
df = df[(df['log_qplume'] < 8.786842309472004)]
df.shape

(6052, 2)

In [22]:
# Creates a mask where values that are true go into the training/test set
# Note that I done it so that the random number is predictable

msk = np.random.seed(0)
msk = np.random.rand(len(df))<0.8

raw_train_validate_set = df[msk]
raw_test_set = df[~msk]

print(raw_train_validate_set.shape)
print(raw_test_set.shape)

(4852, 2)
(1200, 2)

In [23]:
raw_train_validate_set.to_excel(r'dftrain.xlsx', index = False, header=True)
raw_test_set.to_excel(r'dftest.xlsx', index = False, header=True)

In [24]:
skiprows = 0
#Means read in the ',' as thousand seperator. Also drops all columns which are unnamed.
dftrain = pd.read_excel("dftrain.xlsx", thousands=',', skiprows = skiprows)
dftrain = df.loc[:, ~df.columns.str.contains('^Unnamed')] 
dftrain.head()

   log_qplume  log_pic_val
0    7.855362     2.956416
1    6.839937     2.231019
2    6.093792     1.039925
3    6.939637     2.690881
4    6.717591     1.972684

In [26]:
target_columns = [
    "log_qplume"
]

y_train = dftrain[target_columns]
X_train = dftrain.drop(columns=target_columns)

In [27]:
model_lr = LinearRegression()
model_lr.fit(X_train, y_train)

LinearRegression()

In [28]:
y_predtrain = model_lr.predict(X_train)

In [29]:
print('Coefficients:', model_lr.coef_)
print('Intercept:', model_lr.intercept_)

Coefficients: [[0.23546755]]
Intercept: [5.66771779]

In [30]:
# Calculate the mean squared error
mse = mean_squared_error(y_train, y_predtrain)

# Calculate the root mean squared error
rmse = np.sqrt(mse)

print("Root Mean Squared Error:", rmse)

r2 = r2_score(y_train, y_predtrain)
print("Test R^2 Score: {:.5f}".format(r2))

Root Mean Squared Error: 0.900873221759245
Test R^2 Score: 0.17407

In [31]:
skiprows = 0
#Means read in the ',' as thousand seperator. Also drops all columns which are unnamed.
dftest = pd.read_excel("dftest.xlsx", thousands=',', skiprows = skiprows)
dftest = df.loc[:, ~df.columns.str.contains('^Unnamed')] 
dftest.head()

   log_qplume  log_pic_val
0    7.855362     2.956416
1    6.839937     2.231019
2    6.093792     1.039925
3    6.939637     2.690881
4    6.717591     1.972684

In [32]:
y_test = dftest[target_columns]
X_test = dftest.drop(columns=target_columns)

In [33]:
y_predtest = model_lr.predict(X_test)

In [34]:
# Calculate the mean squared error
mse = mean_squared_error(y_train, y_predtest)

# Calculate the root mean squared error
rmse = np.sqrt(mse)

print("Root Mean Squared Error:", rmse)

r2 = r2_score(y_train, y_predtest)
print("Test R^2 Score: {:.5f}".format(r2))

Root Mean Squared Error: 0.900873221759245
Test R^2 Score: 0.17407

In [35]:
skiprows = 0
#Means read in the ',' as thousand seperator. Also drops all columns which are unnamed.
dsub = pd.read_excel("dsub.xlsx", thousands=',', skiprows = skiprows)
dsub = dsub.loc[:, ~dsub.columns.str.contains('^Unnamed')] 
dsub.head()

   log_pic_val
0     3.277027
1     2.504335
2     0.367887
3    -0.568918
4     3.088229

In [36]:
dsub.shape

(20, 1)

In [37]:
y_predsub = model_lr.predict(dsub)

In [38]:
y_predsub

array([[6.43935129],
       [6.25740745],
       [5.75434323],
       [5.53375602],
       [6.39489561],
       [6.27754521],
       [5.76406754],
       [5.9613849 ],
       [6.39519596],
       [6.09657596],
       [6.39632353],
       [6.18122412],
       [5.61412409],
       [5.10944836],
       [6.36284476],
       [6.02286251],
       [5.67050762],
       [6.18354052],
       [5.14906348],
       [6.05463834]])

In [39]:
y_predsubunlog = np.exp(y_predsub)

In [40]:
y_predsubunlog

array([[626.00057777],
       [521.86422498],
       [315.55822911],
       [253.09274929],
       [598.78081052],
       [532.47992943],
       [318.64178345],
       [388.14729693],
       [598.96068645],
       [444.33374611],
       [599.6364339 ],
       [483.58355975],
       [274.27303413],
       [165.5789896 ],
       [579.8936688 ],
       [412.75842942],
       [290.18179774],
       [484.70502842],
       [172.27008051],
       [426.08477892]])

In [42]:
np.savetxt('13.csv', y_predsubunlog, delimiter=',')